
/****************************/
/*resets and global styling */
/****************************/

html, body {

    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {

	font-family: 'Open Sans', sans-serif;

}


 h1 {


    text-rendering: optimizeLegibility;
	color: black; /*White*/
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}


h2{
	text-align: center;
	padding: 5px;
	font-size: 145%;

}

footer {
    background: #E7CC8F; /*Orange*/
    color: black; /*White*/
    margin-bottom: 0;
    width: 100%;
    padding: 3px;
}

footer p {
    text-align: center;
}

.banner {

    width: 100%;
}

.banner img {

    height: 100vh;
    width: 100%;
    max-width: 1280px;
    min-width: 480px;
    position: relative;
    opacity: .9;
    z-index: -1;

}

/**
.heading {

    position: absolute;
    background: white;
}

/**
.nav_bar{
    background: #666677;     
    width: 100%;
    padding: 10px 0px 10px 0px;
    border-bottom: solid 3px #ffbb55; 
    margin: 0;
}
**/

#header {

    font-size: 2.2em;
    width: 50%;
    color: white;
    position: absolute;
}



.nav_bar  ul {

    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    display: table;
}

.nav_bar li {
    float: left;
    border-right: 1px solid #ffffff; /*White*/

}

/**.nav_bar li:last-child {
    border-right: none;
}
**/
.nav_bar li a {
    background-color: #E0E0E0; /*Black*/
    display: block;
    color: black; /*White*/
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.nav_bar li a:hover { 
    background-color: #FFFEF4; /*Grey*/
    color: #000000; /*Black*/

}

.dropdown:hover .dropbtn {
    background-color: #FFFEF4; /*Cream*/
    color: #000; /*Black*/
}

 #inactive {
    background-color: #E0E0E0; /*Black*/
    display: block;
    color: black; /*White*/
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
}


.dropdown:hover .dropdown-content {
    display: block;

}

.anchor{
  display: block;
  height: 115px; /*same height as header*/
  margin-top: -115px; /*same height as header*/

}


.contents{
    width: 100%;
}


/**********************/
/* styling by page */
/**********************/



/* index */

.top_bar_main {

    margin-left: 25%;
    position: absolute;
    top: 0;
    width: 100%;

}

.page_body_main{
    padding: 20px;
    background: #ffffff;
    margin: auto;
    max-width: 960px;
    margin-top: 3%; 
}



/* bio */
.top_bar {

	background-color: white;
    position: fixed;
    top: 0px;
    width: 100%;
}

.page_body{
	padding: 20px;
	background: #ffffff;
	margin: auto;
	max-width: 960px;
    margin-top: 12%; 
}

.maplehill img {
    max-width: 95%;
    max-height: 100%;
    padding-top: 10px;
    display: block;
    margin: auto;
}

.seconddam img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.alter img {
    max-width: 95%;
    max-height: 100%;
    padding-top: 15px;
    display: block;
    margin: auto;
}

.neoproject img {
    max-width: 95%;
    max-height: 100%;
    padding-top: 15px;
    display: block;
    margin: auto;
}

.band_info {
    padding: 0 24px 0 24px;
}



/* gallery */
#gallery_container img {
    display: table;
    margin: auto;
    width: 70%;
    padding: 10px;
}

.gallery_button {
    background-color: #666777; /* Grey */
    border: none;
    color: #fff; /* White */
    padding: 10px;
    margin-top: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 25px;
    cursor:pointer; 
 }   


.gallery_button:hover {
    background-color: #ff8833; /* Orange */
    color: #fff; /* White */
}


#left_button_container button{
    float: left;
    width: 12%;

}

#right_button_container button{
    float: right;
    width: 12%;

}



.gallery_nav_bar  ul {

    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    display: table;
}

.gallery_nav_bar li {
    float: left;
    border-right: 1px solid #ffffff; /*White*/

}

.gallery_nav_bar li:last-child {
    border-right: none;
}

.gallery_nav_bar li a {
    background-color: #E0E0E0; /*Black*/
    display: block;
    color: black; /*White*/
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.gallery_nav_bar li a:hover { 
    background-color: #FFFEF4; /*Grey*/
    color: #000000; /*Black*/

}

.dropdown:hover .dropbtn {
    background-color: #FFFEF4; /*Cream*/
    color: #000; /*Black*/
}

/* map */
#applefest_map {
    max-width: 960px;
}


/* if less than 680px */ 
@media (max-width: 680px) {

    .top_bar_main {

    margin: 0;

    }

    .nav_bar {

        width: 100%;
        position: relative;

    }

    #header {

        display: none;

    }

    .top_bar {

        width: 60%;
    }

    .banner img {
        display: none;
    }

    .nav_bar {

        width: 25%;
        position: relative;

    }

    .nav_bar li {

        float: none;

    }

     .dropdown:hover .dropdown-content {

        display: none;
     
    }    
    

    .page_body {

        position: relative;
        width: 60%;
        padding: 0px;
    }

    .gallery_top_bar {

        width: 100%;

    }
/** Changes gallery nav bar and main page nav bar **/
    .gallery_nav_bar {

        width: 100%;
        position: relative;
    }

    .gallery_banner {

        display: none;
    }

    .gallery_page_body {

        width: 100%;
    }

    .gallery_button {

        font-size: 50%;
    }

}

@media (max-width: 480px) {

    .nav_bar li {

 
        border-right: none;
        border-top: 1px solid #ffffff; /*White*/
        border-bottom: 1px solid #ffffff; /*White*/
        font-size: 75%;

    }

    .nav_bar ul{
        display: block;
    }
    


}

/* between 481 and 768 */ 
@media (min-width: 481px) and (max-width: 768px) { 



}
/* between 769 and 992 */ 
@media (min-width: 769px) and (max-width: 992px) {


  
}
/* between 993 and 1200 */ 
@media (min-width: 993px) and (max-width: 1200px) {
    
 

/* greater than 1201 */ 
@media (min-width: 1201px) {







