
/****************************/
/*resets and global styling */
/****************************/

html, body {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    background-color: #000000;
	font-family: 'Open Sans', sans-serif;

}




h1{
	background: #4C352C;
	color: #B2212B;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}


h2{
	text-align: center;
	padding: 5px;
	font-size: 145%;

}

dl dt{
 font-weight: bold;
}

dl dd {
    padding: 1% 0 4% 0;
}


footer {
    background-color: #BD1801;
    color: #BCFF06;
    margin-bottom: 0;
    width: 100%;
    padding: 3px;
}

footer p {
    text-align: center;
}




/**********************/
/* styling by section */
/**********************/



.top_bar {
	background-color: #000;
    position: fixed;
    top: 0px;
    width: 100%;
}

.top_bar_main {
    margin: 0px;
    padding: 0px;
    background-color: #000;
    position: fixed;
    top: 0px;
    width: 100%;
}

.banner {
    width: 100%;
}

.banner img {
    height: 100vh;
    width: 100%;
    max-width: 1280px;
    min-width: 480px;
}

.nav_bar{
	background: #1D401C; /*Red*/
	width: 100%;
	padding: 10px 0px 10px 0px;
    border-bottom: solid 3px #E8AA29; /*Gold*/
    margin: 0;


}


.nav_bar  ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    display: table;
}

.nav_bar li {
    float: left;
    border-right: 1px solid #ffffff; /*White*/

}

.nav_bar li:last-child {
    border-right: none;
}

.nav_bar li a {
	background-color: #000000; /*Black*/
    display: block;
    color: #BCFF06; /*Lime Green*/
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.nav_bar li a:hover { 
    background-color: #BCFF06; /*Lime Green*/
    color: #000000; /*Black*/


}

.dropdown:hover .dropbtn {
    background-color: #fff; /*White*/
    color: #6D29E8; /*Purple*/
}

 #inactive {
    background-color: #000; /*Black*/
    display: block;
    color: #BCFF06; 
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
}


.dropdown:hover .dropdown-content {
    display: block;

}


.page_body{
	padding: 20px;
	background: #ffffff;
	margin: auto;
	max-width: 960px;
    margin-top: 12%; 
}

.page_body_main{
    padding: 20px;
    background: #ffffff;
    margin: auto;
    max-width: 960px;
    margin-top: 3%; 
}



.contents{
	width: 100%;
}



.anchor{
  display: block;
  height: 132px; /*same height as header*/
  margin-top: -132px; /*same height as header*/

}


#applefest_map {
    max-width: 960px;
}





/* if less than 480px */ 
@media (max-width: 480px) {
    .top_bar {
        position: static;
    }
    .banner img {
        display: none;
    }

    .nav_bar li{
        float: none;
        border-right: none;
        border-top: 1px solid #ffffff; /*White*/
        border-bottom: 1px solid #ffffff; /*White*/

    }
    .nav_bar ul{
        display: block;
    }
    
    .dropdown:hover .dropdown-content {
        width: 100%;
    }    


    .page_body {
        width: 100%;
        padding: 0px;
    }





}
/* between 481 and 768 */ 
@media (min-width: 481px) and (max-width: 768px) { 



}
/* between 769 and 992 */ 
@media (min-width: 769px) and (max-width: 992px) {


  
}
/* between 993 and 1200 */ 
@media (min-width: 993px) and (max-width: 1200px) {
    
 

/* greater than 1201 */ 
@media (min-width: 1201px) {







